* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.deJourney-container {
  background: rgba(255, 255, 255, 0.1);
  .deJourney {
    h1 {
      color: #ffffff;
      font-size: 3.5rem;
      text-align: center;
    }
  }
}
