* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.career-container {
  .countCareers {
    position: relative;
    .career {
      padding: 40px 0px;
      h2 {
        color: #ffffff;
        font-size: 4rem;
        font-weight: 100;
        @media (max-width: 835px) {
          font-size: 3.2rem;
        }
        @media (max-width: 460px) {
          font-size: 2.3rem;
        }
      }
      p {
        margin-top: 8px;
      }
    }
    .interview-img2 {
      @media (min-width: 780px) {
        display: none;
      }
      img {
        @media (max-width: 780px) {
          width: 100%;
        }
      }
    }
    .interview-content {
      display: flex;
      gap: 100px;
      @media (max-width: 780px) {
        display: block;
      }

      .tick {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 66px;
        @media (max-width: 780px) {
          grid-template-columns: 1fr;
        }
        @media (max-width: 940px) {
          gap: 50px;
        }
        @media (max-width: 895px) {
          gap: 0px;
        }
        @media (max-width: 780px) {
          margin-top: 42px;
        }

        .interview {
          display: flex;
          gap: 18px;
          margin-top: 20px;
          @media (max-width: 780px) {
            margin-top: 40px;
          }

          p {
            font-size: 1.6rem;
            color: #ffffff;
            @media (max-width: 1111px) {
              font-size: 1.4rem;
            }
            @media (max-width: 1000px) {
              font-size: 1.3rem;
            }
            @media (max-width: 895px) {
              font-size: 1.1rem;
            }
            @media (max-width: 780px) {
              font-size: 1.6rem;
            }
          }
        }
      }
      .interview-img {
        position: absolute;
        right: 0;
        top: 90px;

        @media (max-width: 1215px) {
          top: 120px;
        }
        @media (max-width: 1175px) {
          top: 140px;
        }
        @media (max-width: 975px) {
          top: 160px;
        }

        img {
          width: 300px;
          @media (max-width: 1215px) {
            width: 250px;
          }
          @media (max-width: 1175px) {
            width: 200px;
          }
          @media (max-width: 975px) {
            width: 170px;
          }
          @media (max-width: 780px) {
            display: none;
          }
        }
      }
    }

    .slider {
      max-width: 100%;
      width: 100%;
      background: #222222;
      padding: 28px 40px;
      margin-top: 64px;
    }
  }
}
