@font-face {
  font-family: "KronaOne-Regular.ttf";
  src: url(../../assets/fonts/KronaOne-Regular.ttf);
}
@font-face {
  font-family: "Gilroy-Regular.ttf";
  src: url(../../assets/fonts/Gilroy-Regular.ttf);
}

@font-face {
  font-family: "Gilroy-Medium.ttf";
  src: url(../../assets/fonts/Gilroy-Medium.ttf);
}

@font-face {
  font-family: "Gilroy-SemiBoldItalic.ttf";
  src: url(../../assets/fonts/Gilroy-SemiBoldItalic.ttf);
}

@font-face {
  font-family: "Koulen-Regular.ttf";
  src: url(../../assets/fonts/Koulen-Regular.ttf);
}

@font-face {
  font-family: "Gilroy-SemiBold.ttf";
  src: url(../../assets/fonts/Gilroy-SemiBold.ttf);
}

.hero_main {
  background-color: #ff7a00;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding: 12px 12px 0;
}

.hero_main > p {
  border: 1px solid #ffa24c;
  padding: 10px;
  color: #ffe6cf;
  font-family: "Gilroy-SemiBoldItalic.ttf";
  font-size: 13.6px;
  padding: 6.72px 18.94px;
}

.hero_bg {
  display: flex;
  justify-content: center;
  gap: 200px;
}

.potentials > p {
  color: white;
  padding: 16px 14px;
  background-color: #ff9738;
  border-radius: 6px;
  font-family: "Gilroy-SemiBoldItalic.ttf";
  font-size: 14px;
}

.potential_lists {
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: white;
  background-color: #ff891b;
  border-radius: 6px;
  padding: 20px;
  margin: 0 20px 20px;
}

.potential_lists .listing > p {
  font-family: "Koulen-Regular.ttf";
  font-size: 20.66px;
  line-height: 70%;
}

.potential_lists .listing > p span {
  font-family: "Gilroy-SemiBold.ttf";
  font-size: 10.87px;
}

.potential_lists .listing {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.potential_lists .listing > img {
  width: 32px;
  height: 32px;
}

.top_nominates {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.top_nominates > p {
  color: white;
  font-family: "Gilroy-SemiBold.ttf";
  font-size: 16.05px;
}

.top_nominates > img {
  width: 132px;
  height: 162.64px;
}

.hero_main .hero_bg > img {
  height: 469.5px;
  width: 301.13px;
}

.hero_main > img {
  width: 490.82px;
  height: 90.11px;
}

.hero_bg > p {
  font-size: 16px;
  color: white;
  position: absolute;
  top: 105%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Gilroy-SemiBoldItalic.ttf";
  width: 814px;
}

.hero_main > a {
  display: none;
}

.responsive_mob_hero {
  display: none;
}

#res_para {
  display: none;
}

.mob_potentials {
  display: none;
}

#nom_hide {
  display: none;
}
@media (max-width: 1000px) {
  .hero_main {
    padding: 36px 36px 0;
  }

  .hero_main > img {
    width: 510.82px;
    height: 110.11px;
  }

  .hero_bg > p {
    font-size: 16px;
    color: white;
    position: absolute;
    top: 130%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Gilroy-SemiBoldItalic.ttf";
    width: 814px;
  }

  .hero_bg {
    gap: 100px;
  }

  .top_nominates > img {
    width: 128px;
    height: 158.64px;
  }

  .hero_main > p {
    font-family: "Gilroy-SemiBoldItalic.ttf";
    font-size: 14.6px;
  }

  .potentials > p {
    padding: 16px 14px;
    border-radius: 6px;
    font-size: 14px;
  }

  .potential_lists .listing > p {
    font-family: "Koulen-Regular.ttf";
    font-size: 20.66px;
  }

  .potential_lists .listing > p span {
    font-family: "Gilroy-SemiBold.ttf";
    font-size: 10.87px;
  }
  .hero_bg > p {
    font-size: 15px;
    width: 814px;
  }

  .top_nominates > p {
    font-size: 14.05px;
  }
}

@media (max-width: 834px) {
  .hero_main {
    padding: 36px 36px 0;
  }

  .hero_main > img {
    width: 393px;
    height: 86.51px;
  }

  .hero_bg {
    gap: 70px;
  }

  .top_nominates > img {
    width: 118px;
    height: 148.64px;
  }

  .hero_main > p {
    font-family: "Gilroy-SemiBoldItalic.ttf";
    font-size: 15.6px;
  }

  .hero_main > a {
    display: flex;
    align-items: center;
    font-family: "Gilroy-SemiBold.ttf";
    font-size: 18.13px;
    gap: 10px;
    text-decoration: none;
    color: white;
  }

  .potential_lists {
    gap: 10px;
  }

  .potentials > p {
    padding: 16px 14px;
    border-radius: 6px;
    font-size: 14px;
  }

  .potential_lists .listing > p {
    font-family: "Koulen-Regular.ttf";
    font-size: 19.99px;
  }

  .potential_lists .listing > p span {
    font-family: "Gilroy-SemiBold.ttf";
    font-size: 10.44px;
  }
  .hero_bg > p {
    display: none;
  }

  .hero_bg > #res_para {
    display: block;
    font-size: 14px;
    color: white;
    position: absolute;
    top: 135%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Gilroy-SemiBoldItalic.ttf";
    width: 814px;
  }

  .top_nominates > p {
    font-size: 14.05px;
  }
}

@media (max-width: 768px) {
  .hero_bg {
    gap: 30px;
  }

  .hero_bg > #res_para {
    display: block;
    font-size: 14px;
    color: white;
    position: absolute;
    top: 165%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Gilroy-SemiBoldItalic.ttf";
    width: 814px;
  }
}

@media (max-width: 450px) {
  .hero_main {
    display: none;
  }

  .responsive_mob_hero {
    background-color: #ff7a00;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
    padding: 22px 22px 0;
    width: 100%;
  }

  .responsive_mob_hero > img {
    width: 304px;
    height: 66.92px;
  }

  .responsive_mob_hero .mob_hero_bg > img {
    height: 449px;
    width: 280.79px;
  }

  .responsive_mob_hero > p {
    border: 1px solid #ffa24c;
    color: #ffe6cf;
    font-family: "Gilroy-SemiBoldItalic.ttf";
    font-size: 11.8px;
    padding: 6.88px 16.52px;
  }

  .responsive_mob_hero > a {
    display: flex;
    align-items: center;
    font-family: "Gilroy-SemiBold.ttf";
    font-size: 16px;
    gap: 10px;
    text-decoration: none;
    color: white;
  }

  .responsive_mob_hero .mob_hero_bg > p {
    font-size: 11px;
    color: white;
    position: absolute;
    top: 135%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Gilroy-SemiBoldItalic.ttf";
    width: 340px;
  }

  button {
    border: none;
    background-color: white;
    color: #ff7a00;
    padding: 7.37px 30.27px;
    font-family: "Gilroy-SemiBold.ttf";
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
  }

  .mob_potentials {
    color: white;
    background-color: #ff7a00;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    gap: 40px;
  }

  .mob_potentials > p {
    color: white;
    padding: 18px 16px;
    background-color: #ff9738;
    border-radius: 6px;
    font-family: "Gilroy-SemiBoldItalic.ttf";
    font-size: 16px;
    text-align: center;
    position: absolute;
    top: 160%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .mob_potentials .potential_list {
    display: flex;
    flex-direction: row;
    color: white;
    background-color: #ff891b;
    border-radius: 6px;
    padding: 23.1px 18px;
    gap: 20px;
  }

  .mob_potentials .potential_list .listing {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
  }

  .potential_list .listing > p {
    font-family: "Koulen-Regular.ttf";
    font-size: 21.99px;
    line-height: 70%;
  }

  .potential_list .listing > p span {
    font-family: "Gilroy-SemiBold.ttf";
    font-size: 11.44px;
  }

  .mob_potentials .top_nominates {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 360px) {
  .mob_potentials > p {
    color: white;
    padding: 18px 16px;
    background-color: #ff9738;
    border-radius: 6px;
    font-family: "Gilroy-SemiBoldItalic.ttf";
    font-size: 16px;
    text-align: center;
    position: absolute;
    top: 160%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
