* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.hero-container {
  .hero {
    display: flex;
    justify-content: space-between;
    @media (max-width: 735px) {
      display: block;
    }

    .hero-content {
      padding: 64px 0px;
      @media (max-width: 860px) {
        padding: 60px 0px;
      }
      @media (max-width: 735px) {
        padding: 10px 0px;
      }
      h1 {
        font-family: "Grold-Regular";
        font-size: 5rem;
        color: var(--white);
        @media (max-width: 860px) {
          font-size: 2.8rem;
        }
        .text-coloring {
          font-weight: 100;
        }
      }
      h2 {
        font-family: "Grold-Regular";
        color: var(--white);
        font-size: 6rem;
        @media (max-width: 860px) {
          font-size: 2.8rem;
        }

        span {
          font-size: 3.1rem;
          font-family: "Grold-SemiLight";
          font-weight: 100;
        }
        @media (max-width: 860px) {
          font-size: 2.8rem;
        }
      }
      p {
        color: var(--white);
        font-size: 1.3rem;
        padding: 16px 0px;
        @media (max-width: 860px) {
          font-size: 1.3rem;
        }
      }
      .hero-imgs {
        display: flex;
        gap: 32px;
        padding: 28px 0px;
      }
      .hero-btns {
        display: flex;
        gap: 16px;
        padding: 24px 0px;
      }
      .web2-img {
        @media (min-width: 735px) {
          display: none;
        }

        img {
          @media (max-width: 735px) {
            width: 100%;
            margin-top: 20px;
            margin-bottom: 10px;
          }
        }
      }
    }
    .web-img {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        max-width: 100%;
      }
      @media (max-width: 735px) {
        display: none;
      }
    }
  }
}
