* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.deCharter-container {
  background: #ffffff;
  .deCharter {
    padding: 64px;

    h1 {
      font-family: "Grold-Regular";
      font-weight: 400;
      text-align: center;
      font-size: 3.5rem;
      @media (max-width: 960px) {
        font-size: 3rem;
      }
    }
    p {
      text-align: center;
      line-height: 25px;
      padding: 28px 250px 52px;
      @media (max-width: 1250px) {
        padding: 28px 200px 52px;
      }
      @media (max-width: 1125px) {
        padding: 28px 150px 52px;
      }
      @media (max-width: 960px) {
        padding: 28px 100px 52px;
      }
      @media (max-width: 860px) {
        padding: 28px 60px 40px;
      }
    }
    .deCharter-content {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      font-family: "Grold-Regular";
      text-align: center;
      @media (max-width: 835px) {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 64px;
      }

      p {
        // font-size: 1.6rem;
        // color: #777777;
        font-weight: 100;
        padding: 16px 0px 5px;
      }
      h2 {
        text-transform: uppercase;
        font-size: 1.8rem;
        font-family: "Grold-Light";
        @media (max-width: 1100px) {
          font-size: 1.3rem;
        }
      }
    }
    .debtn {
      text-align: center;
      padding: 62px 0px 25px;
    }
  }
}
