@font-face {
  font-family: "Grold-Medium";
  src: url(./assets/fonts/Grold-Medium.ttf);
}
@font-face {
  font-family: "Grold-Regular";
  src: url(./assets/fonts/Grold-Regular.ttf);
}
@font-face {
  font-family: "Grold-Light";
  src: url(./assets/fonts/Grold-Light.ttf);
}
@font-face {
  font-family: "Grold-ExtraLight";
  src: url(./assets/fonts/Grold-ExtraLight.ttf);
}
@font-face {
  font-family: "Grold-SemiLight";
  src: url(./assets/fonts/Grold-SemiLight.ttf);
}

:root {
  --white-primary: #ffffff;
  --white-secondary: #cccccc;
  --gray: #8c8c8c;
  --background-black: #111111;
  --background-black2: #0e0e0e;
  --black-primary: #252525;
  --black-secondary: #777777;
  --background-primary: #222222;
  --background-secondary: #1b1b1b;
  --green: #00ce53;
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Grold-Regular";
}

body {
  background: radial-gradient(50% 50% at 50% 50%, #0a0a0a 0%, #000000 100%);
  font-family: "Grold-Light";
}

.pad {
  padding: 0px 6.4rem;
  @media (max-width: 1100px) {
    padding: 0px 5.2rem;
  }
  @media (max-width: 995px) {
    padding: 0px 4.5rem;
  }
  @media (max-width: 860px) {
    padding: 0px 3.3rem;
  }
  @media (max-width: 834px) {
    padding: 0px 3rem;
  }
  @media (max-width: 620px) {
    padding: 0px 2.5rem;
  }
}
.mx {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.text-coloring {
  background: linear-gradient(to right, #293eff 0%, #8f00ff 45%, #ff7a00 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: "Grold-Light";
  font-weight: 100;
}
p {
  font-family: "Grold-SemiLight";
  color: var(--black-secondary);
  font-size: 1.4rem;
}
