.professionals-container {
  .professionals {
    .professionals-head {
      padding-top: 64px;
      h1 {
        text-align: center;
        color: var(--white-primary);
        font-size: 4rem;
        font-weight: 100;
        @media (max-width: 835px) {
          font-size: 3.2rem;
        }
        @media (max-width: 581px) {
          font-size: 2.4rem;
        }
      }
    }
    .defutura {
      padding-top: 32px;
      .defutura-box {
        background: rgba(255, 255, 255, 0.05);
        border-radius: 5px;
        color: var(--white-primary);
        margin-right: 34px;
        margin-left: 20px;
        text-align: center;
        padding: 32px;
        @media (max-width: 390px) {
          margin-left: 35px;
        }
        @media (max-width: 375px) {
          margin-left: 40px;
        }

        .border-radio {
          width: 100px;
          height: 100px;
          border-radius: 50px;
          margin: 0 auto;
          background: var(--white-primary);
        }
        h5 {
          text-transform: uppercase;
          margin-top: 8px;
          font-size: 1.2rem;
          font-weight: 100;
        }
        p {
          margin-top: 16px;
          font-size: 1.2rem;
          color: var(--black-secondary);
        }
        h4 {
          font-family: "Grold-Light";
          margin-top: 4px;
          font-size: 1.1rem;
          font-weight: 100;
        }
        img {
          margin: 0 auto;
          margin-top: 16px;
        }
        .defu {
          margin-top: 8px;
        }
      }
    }
  }
}
